ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}

.after-hover{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        right: 0%;
        left: 0%;
        width: 0%;
        border-bottom: 3px solid #ff8a5c;
        transition: .3s;
        bottom: 5px;
        
    }
    &:hover::after{
        width: 100%;
    }
}

.li-hover{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        right: 0%;
        left: 0%;
        width: 0%;
        border-bottom: 4px solid #ffb549;
        transition: .3s;
        bottom: -2px;
    }
    &:hover::after{
        width: 100%;
    }
}

.bt-hover{
    color: $secondary;
    &:hover{
        color: #222831;
    }
}
// @media(max-width: 1200px){
//     .mobile-only{
//         display: none !important;
//     }
//     .desktop-only{
//         display: block !important;
//     }
// }
@media(max-width: 991px) {
    .desktop-only{
        display: none !important;
    }
 }

 @media(min-width: 992px){
     .mobile-only{
        display: none !important;
     }
 }

